
<h1>Log In</h1>

<% @errors && @errors.each do |e| %>
  <li><%=e%></li>
<%end%>
<%= form_for :reader do |f| %>
<%=f.label "Email"%>
<%=f.email_field :email%>
<%=f.label "Password"%>
<%=f.password_field :password %>

<%=f.submit "Log In"%>
<%end%>
