
<h1>Log In</h1>

<% @errors && @errors.each do |e| %>
  <li><%=e%></li>
<%end%>
<%= form_tag login_path do %>
<%=label_tag "Email"%>
<%=email_field_tag :email%>
<%=label_tag "Password"%>
<%=password_field_tag :password %>

<%=submit_tag "Log In"%>
<%end%>
