
<h3>Search Books By Title</h3>
<%= form_with url: books_path, method: :get do |f| %>
  <%=f.text_field :title %>
  <%=f. submit"Search"%>
<%end%><br>

<%if @reader%>
<h1><%=@reader.username %>'s Bookshelf</h1>
<%end%>

<h1>Books!</h1>

<%@books.uniq.each do |book|%>
    <li><%=link_to(book.title, book_path(book))%> - Review(s): "<%= book.reviews.first.text.truncate_words(4)%>"</li><br>
  <%end%>