<h1>Title: <%=@book.title%></h1>
<h1>Author: <%=@book.author%></h1>



<h2>Reviews:</h2>
<% @book.reviews.each do |r| %>
    <li> <span class = "username"><%= r.reader.username %></span> says: "<i><%=r.text.truncate_words(6)%>"</i> <%= link_to "more...", review_path(r.id) %><br><br></li>
    <%end%>
    



