
<%=render(partial: "application/errors", locals: {errors: @review.errors.full_messages})%>

<h3>Editing review for <%=@review.book.title%></h3>

<%= form_for(@review )do |f|%>
  <%=f.label "Edit your Review here!"%>
  <%=f.text_area :text%>
  
  <%=f.submit("Save")%>
<%end%>